/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:618px;
	
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;	
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
	
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
#slider {
	position:relative;
	width:518px;
	height:288px;
	z-index:9000;
	
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	
}
#slider a{
	display:block; 
}
.nivo-directionNav{ display:none;}
#slider .nivo-controlNav {
	position:absolute;
	right:-352px; /* Put the nav below the slider */
	top:-9px;
	width:358px;
	z-index:9000;
}

#slider .nivo-controlNav a{
	width:358px; 
	height:95px;
	text-indent:-9000px;
	font-size:10px;
	margin-bottom:9px;
	}
#slider .nivo-controlNav a:hover, #slider .nivo-controlNav a.active{
	background:url(../img/setaNivo.gif) 21px 41px no-repeat;
	color:#fff;
	}
#slider .nivo-controlNav img {
	display:none; /* Unhide the thumbnails */
}
