/* CSS Reset para celular */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{font-size:100%;}legend{color:#000;}#yui3-css-stamp.cssreset{display:none;}


body{ font:normal 14px 'Georgia'; color:#2d2d19; background:#f6f2df; line-height:18px; letter-spacing:-0.030em;}

a:link,a:active,a:visited{ text-decoration:none; outline:none; color:#434326;}
	a:hover{ color:#659200;}

a img, img{ display:block;}
.clear{ height:4px; background:#FFFFFF; margin:20px 0px;}

.enviar:link, .enviar:active, .enviar:visited{ float:right; display:block; background:#435815; padding:5px 8px 4px 8px; color:#ffffff; margin-top:2px;}
	.enviar:hover{background-color:#e07b19;} 

.tituloGeral{ font-size:20px; border-bottom:solid 1px #b8b8a1; padding-bottom:5px; color:#3a723d; font-style:italic;}
.tituloInterno{ font-size:17px; color:#6a9606; line-height:20px; font-style:italic;}


.topo{ background:#abd148; border-bottom:solid 5px #e7882c;}
	.topo h1{ padding:15px 0px 12px 0px; text-align:center;}
		.topo h1 img{ margin:0 auto;}
		.topo h1 span{ display:block; font-size:18px; color:#3e550d; line-height:17px; letter-spacing:-0.020em; padding:2px 0px 5px 0px;}
		
	.topo .menu{ padding:10px 22px 8px 30px; background:#6e8b2c; border-bottom:solid 1px #ffffff; overflow:hidden;}
		.topo .menu .botao:link, .topo .menu .botao:active,.topo .menu .botao:visited{ font-size:17px; letter-spacing:-0.020em; background:url(../img/iconMenu.gif) 0px 7px no-repeat; padding:5px 50% 5px 30px; display:block; color:#FFFFFF; float:left;}
		
		.topo .menu .idioma:link, .topo .menu .idioma:active, .topo .menu .idioma:visited{ display:block; color:#FFFFFF; font-size:13px; display:block; float:right; padding:4px 2px 2px 29px; line-height:20px;}
		
		.topo .menu .en{ background:url(../img/en.gif) no-repeat 0px 6px;}
		.topo .menu .pt{ background:url(../img/pt.gif) no-repeat 0px 6px;} 
		
		.topo .menu .submenu{ clear:both; padding:5px 0px 10px; display:none;} 
			.topo .menu .submenu a:link, .topo .menu .submenu a:active, .topo .menu .submenu a:visited{ font-size:16px; color:#FFFFFF; border-bottom:solid 1px #607c23; display:block; margin-top:6px; padding-bottom:5px;}
			.topo .menu .submenu a:last-child{ border-bottom:none;} 
			
	
	.banner{ margin:15px 20px;}
	
	.banner .swiper-slide{background:#ffffff;}
		.banner .swiper-slide img{ border:solid 1px #ffffff; margin:0 auto;}
			.banner .swiper-slide span{ font-size:15px; color:#454d34; padding:8px 10px 0px 10px; display:block; text-align:center; height:38px; margin-bottom:10px; overflow:hidden; }
			.banner .bannerPaginacao{ margin-top:6px; margin-bottom:40px}
			.banner .bannerPaginacao span{ display:block; width:32%; margin-right:2%; background:#cdd3a9; float:left; cursor:pointer; height:10px;} 
				.banner .bannerPaginacao span.swiper-pagination-bullet-active{ background:#9bc830;}
				.banner .bannerPaginacao span:last-child{ margin-right:0px;}
	
	
	.noticias,.eventos{ margin:20px 20px 15px 20px; clear:both;}
	
	.noticias .item:link,.noticias .item:visited,.noticias .item:active, .eventos .item:link, .eventos .item:active, .eventos .item:visited{ margin-top:15px; padding-bottom:10px; border-bottom:solid 1px #d6d6bd; display:block;}
		.noticias .item span, .eventos .item span{ color:#838326; display:block;}
	
	.noticias .linkMais:link, .noticias .linkMais:active, .noticias .linkMais:visited, .eventos .linkMais:link, .eventos .linkMais:active, .eventos .linkMais:visited{ color:#618c00; display:block; text-decoration:underline; margin-top:15px;}	
	
	.sejaIBD{ margin:0px 20px; padding:10px 0px;}	
		.sejaIBD img{ margin:0 auto;}
	
	.pesquisas{ margin:0px 20px;}
		.pesquisas .tituloGeral{ margin:0px 0px 20px 0px;}
		.pesquisas a:link, .pesquisas a:active, .pesquisas a:visited{ background:url(../img/iconLupa.png) no-repeat 12px 9px #556433; color:#fefefe; font-size:16px; display:block;
		padding:9px 0px 9px 40px; margin-top:10px; letter-spacing:-0.030em; border-radius:4px;}
		.pesquisas a:nth-child(3){ background-color:#3a4a16;}
		.pesquisas a:nth-child(4){ background-color:#222f06;}
		.pesquisas a:hover{ background-color:#e07b19;}
	
	.cadastrese{ margin:0 20px;}
		.cadastrese form{ margin:15px 0px;}
			.cadastrese form label{ width:46px; text-align:right; padding-right:10px; float:left; clear:left; line-height:29px; margin-bottom:7px;}
			.cadastrese form input{ background:#ffffff; border:solid 1px #aeb5a3; height:22px; float:left; width:216px; padding:4px 0px 0px 5px;  margin-bottom:7px;}
	
	
	.rodape{ margin:25px 0px 0px 0px;}
	.rodape .grama{ background:url(../img/gramaRodape.jpg) repeat-x 0px 0px; height:41px;}
		.rodape .menuRodape{ background-color:#2c1e11; padding:20px 10px 22px 10px; text-align:center; overflow:hidden; text-align:center;}
			.rodape .menuRodape span{ display:inline-block; color:#60462f; padding:3px 7px 0px 7px; }
			.rodape .menuRodape a:link, .rodape .menuRodape a:active, .rodape .menuRodape a:visited{ color:#ecdfd4; display:inline-block; padding:2px; margin:2px 0px; font-size:13px;}
				.rodape .menuRodape a:hover{ color:#ffffff;}
		
	address{ background:#1c1008; padding:20px 25px; border-bottom:solid 5px #460c05; overflow:hidden;}
		address h2{ color:#74543e; font-size:20px;}
		address p{ color:#ecdfd4; font-size:13px; padding:9px 0px;}
		address span{ color:#fcf09f; font-size:20px;}		
 	
/* INTERNA */

	.interna{ margin:15px 20px;}
		.interna p{ line-height:22px;}
		.interna .tituloGeral{ margin:20px 0px 20px 0px; font-size:21px;} 
	
		
	.interna.sejaibd .tituloInterno{ padding:15px 0px;}
	.interna.sejaibd ul{}
			.interna.sejaibd ul li{ position:relative; padding-left:31px; margin-bottom:20px; line-height:20px; }
				.interna.sejaibd ul li span{ position:absolute; background:#4c6615; display:block; width:21px; height:21px; border-radius:3px; text-align:center; top:1px; left:0px; color:#FFFFFF; font-size:12px; line-height:22px; font-weight:bold;}
				
	.quemsomos img{ margin:15px auto;}
				
	.servicos h4.tituloInterno{ padding:15px 0px 10px 0px; font-size:19px;}
	
	.acreditadores img{ margin-bottom:10px;}
	.acreditadores h4.tituloInterno{ padding-right:30px; font-size:19px;}
	.acreditadores p{ padding:10px 0px 15px 0px; margin-bottom:18px; border-bottom:solid 1px #d6d6bd;}
		.acreditadores p:last-child{ border-bottom:none; margin-bottom:10px;}
		
		
/* NOTICIAS LISTA */
	
	.noticiasLista .item, .eventosLista .item{ margin-top:15px; padding-bottom:15px; border-bottom:solid 1px #d6d6bd;}
	.noticiasLista .item a:link,.noticiasLista .item a:visited,.noticiasLista .item a:active, .eventosLista .item a:link,.eventosLista .item a:visited,.eventosLista .item a:active{ display:block; font-size:16px; line-height:18px; padding-bottom:5px;}
		.noticiasLista .item span, .eventosLista .item span{ color:#838326; display:block;}
		.noticiasLista .item p{ color:#84846c; font-size:14px; line-height:18px;}
		
	.paginacao{ text-align:center; padding:20px 0px 0px 0px;}
		.paginacao a:link, .paginacao a:active, .paginacao a:visited{ display:inline-block; background:#435815; padding:0px 8px 0px 8px; height:24px; color:#ffffff; margin-top:2px; border-radius:3px; line-height:26px;}
		.paginacao a.bt{ font:bold 11px Verdana; line-height:26px;}
		.paginacao .anterior, .paginacao .proxima{ font-size:18px; line-height:22px !important;}
			.paginacao a:hover{ background-color:#e07b19;}
			
/* NOTICIAS DETALHES */

	.noticiasDetalhes .titulo{}
		.noticiasDetalhes .titulo h3, .eventosDetalhes .titulo h3{ color:#434326; font-size:25px; line-height:25px; padding:15px 0px 7px 0px;}
		.noticiasDetalhes .titulo p{ color:#727246; line-height:20px;}
		.noticiasDetalhes .titulo span, .eventosDetalhes .titulo span{ display:block; color:#6a6a5d; font-size:13px; border-bottom:solid 1px #d6d6bd; border-top:solid 1px #d6d6bd; padding:5px 0px; margin:15px 0px; }
	
	.noticiasDetalhes .conteudo, .eventosDetalhes .conteudo{ line-height:22px;}
		.noticiasDetalhes .conteudo p.fonte, .eventosDetalhes .conteudo p.fonte{ font-style:italic; font-size:12px; line-height:18px; padding-top:15px;}

/* EVENTOS LISTA */

	.eventosLista .tituloGeral{ margin-bottom:0px;}
	.eventosLista .tituloMes{ font-size:19px; color:#6a9606; line-height:20px; padding-top:15px; padding-bottom:5px;}

/* EVENTOS DETALHES */

	.eventosDetalhes .titulo p{ color:#727246; line-height:20px; font-size:20px; color:#529100;}

/* FALE CONOSCO */
	
	.faleconosco h4{ border-top:solid 1px #d6d6bd; padding-top:15px;}
	.faleconosco .tituloInterno{ margin-top:10px; padding-bottom:4px;}
	.faleconosco span.telefone{ font-size:19px; line-height:18px; }
	.faleconosco{ line-height:22px;}
	
	.faleconosco ul{ margin-top:10px;}
			.faleconosco ul li{ position:relative; padding-left:31px; margin-bottom:20px; line-height:20px; }
				.faleconosco ul li span{ position:absolute; background:#4c6615; display:block; width:21px; height:21px; border-radius:3px; text-align:center; top:1px; left:0px; color:#FFFFFF; font-size:12px; line-height:20px; font-weight:bold;} 
	
	.faleconosco form{ margin:15px 0px;}
			.faleconosco form label{ text-align:left; margin-bottom:4px; display:block; clear:both;}
			.faleconosco form input{ background:#ffffff; border:solid 1px #aeb5a3; width:275px; padding:5px 0px 4px 5px;  margin-bottom:7px;}
			.faleconosco form select{ background:#ffffff; border:solid 1px #aeb5a3; width:100%; padding:5px 0px 4px 5px;  margin-bottom:7px;}
			.faleconosco form textarea{ background:#ffffff; border:solid 1px #aeb5a3; width:100%; padding:5px 0px 4px 5px;  margin-bottom:7px; width:276px; height:150px;}

/* CLIENTES CERTIFICADOS */

.clientescertificados form{ margin:15px 0px;}
			.clientescertificados form label{ text-align:left; margin-bottom:4px; display:block; clear:both;}
			.clientescertificados form input{ background:#ffffff; border:solid 1px #aeb5a3; width:280px; padding:5px 0px 4px 5px;  margin-bottom:7px;}
			.clientescertificados form select{ background:#ffffff; border:solid 1px #aeb5a3; width:100%; padding:5px 0px 4px 5px;  margin-bottom:7px;}
			.clientescertificados form textarea{ background:#ffffff; border:solid 1px #aeb5a3; width:100%; padding:5px 0px 4px 5px;  margin-bottom:7px; width:276px; height:150px;}
			
/* CLIENTES CERTIFICADOS 2 */

	.clientescertificados .suaPesquisa .tituloInterno{ float:left;}
	.clientescertificados .suaPesquisa .enviar{ float:right;}
	.clientescertificados .suaPesquisa p{ color:#434326; clear:both;}
	.clientescertificados .suaPesquisa span{ color:#6f6f64;}
	
	.clientescertificados .resultadosPesquisa p{color:#6f6f64; padding-bottom:10px; font-size:13px;}
	
	.clientescertificados .resultadosPesquisa .itemClientes{ margin-top:12px; background:url(../img/iconMais.gif) no-repeat 2px 5px; padding-left:25px; border-bottom:solid 1px #d6d6bd; display:block;  padding-bottom:12px; }
		.clientescertificados .resultadosPesquisa .itemClientes span{ color:#838326;}
		
/* CLIENTES CERTIFICADOS 3 */		

	.clientescertificados2 .resultadoPesquisaEmpresa .tituloInterno{ font-size:18px; color:#1a2209;}
	.clientescertificados2 .resultadoPesquisaProdutos .tituloInterno{ font-size:18px; color:#1a2209; padding-bottom:10px;}
		.clientescertificados2 .resultadoPesquisaEmpresa h2{ font-size:22px; line-height:22px; padding:5px 0px 15px 0px;}
		.clientescertificados2 p span{ font-size:14px; color:#66a61b; font-style:italic; display:block;}
			.clientescertificados2 p{ font-size:14px; color:#434326; padding-bottom:10px; padding-top:5px;}
		
/* CERTIFICADOS */	

.certificados .subtit{ display:block; color:#4e6e05; font-size:16px; padding:15px 0px 5px 0px; line-height:20px; font-style:italic;}
	.certificados .tituloInterno{ clear:both;}
	.certificados img{ margin-bottom:15px; margin-right:15px;}
	
	
	 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	