﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pt_mobile/InternaMobile.Master" AutoEventWireup="true" CodeBehind="Noticias.aspx.cs" Inherits="HTMSiteAdmin.Web.pt_mobile.Noticias" %>

<%@ Register Src="~/pt_mobile/UserControls/ucMobileUltimasNoticias.ascx" TagPrefix="uc1" TagName="ucMobileUltimasNoticiasPT" %>




<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Conteudo" runat="server">
     <div class="interna noticiasLista">
        <h3 class="tituloGeral">Notícias</h3> 

         <uc1:ucMobileUltimasNoticiasPT runat="server" ID="ucMobileUltimasNoticias" chamada="false" />

    </div>
</asp:Content>
