@import url("reset.css");
@import url("fontes.css");

body{ font:normal 14px Georgia, "Times New Roman", Times, serif; color:#595941; background: url(../img/fundo.jpg) center top repeat-y;}

a:link, a:active, a:visited{ text-decoration:none; outline:none; color:#606023; }
a:hover{ color:#809e25;  }
	a img{ display:block;}

.wrap{ background:url(../img/fundoTopo.jpg) center top no-repeat; position:relative; z-index:50;} 
.wrap2{ position:relative; z-index:50; padding-bottom:20px;}
.wrap3{ position:relative; z-index:50;}
.centro{ width:1000px; margin:0 auto; overflow:hidden;}
/*.box{}

form{}*/
	form fieldset{ border:0; margin:0; padding:0;}
/*	form ul{}*/
		form ul li{ overflow:hidden; padding:4px 0;}
		form label{float:left; color:#919b83; font-size:13px; letter-spacing:-0.050em; height:19px; text-align:right; margin-right:15px; line-height:19px;}
				form input{float:right; border:none; height:19px; padding:0 3px; color:#727a66; width: 120px;}
				form select{float:right; border:none; height:21px; padding:2px 0 2px 2px;  font-size:15px;  color:#727a66; width: 126px;}
				form a:link, form a:active, form a:visited{ padding-right:0px; margin-top:0px; color:#4f6f0a;}
					form a:hover{background-position:0 -21px;}
				form a.btBuscar:link, form a.btBuscar:active, form a.btBuscar:visited{color:#fbfff0; background:url(../img/btBusca.jpg) no-repeat; width:74px; text-indent:15px; margin-top:0px; }
				form li a.btBuscar { height: 21px; text-align: center; float: right; margin-right: 10px; margin-right: 40px; }
					form a.btBuscar:hover{background-position:0 -21px;}
	
#centroTopo{ overflow:visible;}
.topo{ width:1000px; height:106px; padding-top:42px; position:relative;}
	.topo .logo{ width:180px; height:79px; float:left; padding:8px 22px 0 25px;}
	.topo h1{ width:435px; padding:0 29px 0 228px; text-align:right; color:#3e550d; font-size:18px; float:left;}
		.topo h1 span{color:#506e10; font-size:14px;}
	.topo .idiomas{ float:left; padding-top:14px; overflow:hidden;}
		.topo .idiomas .br:link, .topo .idiomas .br:active, .topo .idiomas .br:visited{ display:block; float:left; width:21px; height:15px; margin-left:8px; background:url(../img/br.jpg) no-repeat;}
			.topo .idiomas .br:hover{ background-position:0 -15px;}
		.topo .idiomas .en:link, .topo .idiomas .en:active, .topo .idiomas .en:visited{display:block; float:left; width:21px; height:15px;  margin-left:8px; background:url(../img/en.jpg) no-repeat;}
			.topo .idiomas .en:hover{background-position:0 -15px;}
	.topo .menu{ width:712px; float:left; padding:18px 0 0 43px; *padding:22px 0 0 43px; letter-spacing:-1px;}  
	
		.topo .menu a:link, .topo .menu a:active, .topo .menu a:visited{ color:#cef281; font:normal 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-transform:uppercase; height:31px; display:block; float:left; text-align:center; padding-top:14px;}
			.topo .menu a:hover, .topo .menu a.ativo:link, .topo .menu a.ativo:active, .topo .menu a.ativo:visited{color:#FFF;}
			.topo .menu span{ background:url(../img/separadorMenu.jpg) no-repeat; width:23px; height:46px; display:block; float:left;} 
			
	.topo .subMenu{ position: absolute; z-index:1000000; background:url(../img/setaSubMenu.jpg) 27px top no-repeat; padding-top:7px; display:none;}
	.topo #subCertificacoes{ left:465px; top: 141px; width: 270px;}
	.topo #subServicos{ left:392px; top:141px; width:190px;}
	.topo #subCliente{ left:699px; top:141px; width:278px;}
	.topo #subBiblioteca{ left:767px; top:141px; width:165px;}
	.topo #subAtendimento{ left:854px; top:141px; width:145px;}

		.topo #subCertificacoes{background:url(../img/setaSubMenu.jpg) 43px top no-repeat !important;}
		.topo #subCliente{background:url(../img/setaSubMenu.jpg) 28px top no-repeat !important;}
		.topo #subBiblioteca{background:url(../img/setaSubMenu.jpg) 32px top no-repeat !important;}
		.topo #subAtendimento{background:url(../img/setaSubMenu.jpg) 62px top no-repeat !important;}
		
		.topo .subMenu a:link, .topo .subMenu a:active, .topo .subMenu a:visited{ display:block; padding:3px 20px 4px 16px; font:normal 11px "Lucida Sans Unicode", "Lucida Grande", sans-serif; line-height:16px; }
		.topo .subMenu h2{ color:#fbfff3; font-size:18px; padding:0 20px; line-height:32px; }
		.topo .subMenu div{ padding:5px 0 5px 0;}
			.topo .subMenu .organicos{ background: url(../img/bgOrganicos.jpg) #587420;}
				.topo .subMenu .organicos a:link, .topo .subMenu .organicos a:active, .topo .subMenu .organicos a:visited{ color:#e1f3bd; border-bottom:solid 1px #6c843c;}
					.topo .subMenu .organicos a:hover{ background:url(../img/bgOrganicosHover.jpg) #253908;}

			.topo .subMenu .biodinamicos{ background: url(../img/bgBiodinamicos.jpg) #82754c;}
				.topo .subMenu .biodinamicos a:link, .topo .subMenu .biodinamicos a:active, .topo .subMenu .biodinamicos a:visited{ color:#f9edcc;}
					.topo .subMenu .biodinamicos a:hover{ background:url(../img/bgBiodinamicosHover.jpg) #5b4f28;}

			.topo .subMenu .socioAmbientais{ background: url(../img/bgSocioAmbientais.jpg) #5c6117;}
				.topo .subMenu .socioAmbientais a:link, .topo .subMenu .socioAmbientais a:active, .topo .subMenu .socioAmbientais a:visited{ color:#e8ecb6; border-bottom:solid 1px #747d3d; }
					.topo .subMenu .socioAmbientais a:hover{ background:url(../img/bgSocioAmbientaisHover.jpg) #383e0c;}
			.topo .subMenu .aprovacoes{ background: url(../img/bgAprovacoes.jpg) #166142;}
				.topo .subMenu .aprovacoes a:link, .topo .subMenu .aprovacoes a:active, .topo .subMenu .aprovacoes a:visited{ color:#d0f1e3; border-bottom:solid 1px #427a57; }
					.topo .subMenu .aprovacoes a:hover{ background:url(../img/bgAprovacoesHover.jpg) #073d22;}
	

.bloco{ width:980px; padding:30px 0 0 11px; overflow:hidden;}
	.bloco .banner{ width:618px; height:287px; padding:9px 10px; background:#fff; float:left;}
	.bloco .opcoesSlider{ width:332px; height:320px; float: left; padding-left:10px;}
		.bloco .opcoesSlider .itemSlider{ width:315px; height:90px; padding:14px 0 0 19px; letter-spacing:-1px;}
			.bloco .opcoesSlider .itemSlider img{ float:left; margin-right:20px; border:solid 6px #e8e4d2;}
			.bloco .opcoesSlider .itemSlider h2{float:left; width:160px; color:#2d312e; font-size:17px; line-height:17px; padding:3px 0 4px 0;}	
			.bloco .opcoesSlider .itemSlider p{ float:left; width:177px; color:#6e977c; font-size:12px; letter-spacing:0;}
			

	.bloco h3{color:#3a723d; font-size:22px; font-style:italic; letter-spacing:-1px; margin-bottom:12px;}
	
		.bloco .box{ width:302px; padding:0 29px 5px 29px; border-left:double 3px #e7e7d7; border-right:double 3px #e7e7d7; }
			.bloco .box .itemNews{ width:290px; padding:0 15px 13px 2px; border-bottom:solid 1px #dadbd7; margin-bottom:13px; overflow:hidden;}
				.dataTipo{ width:290px; padding-bottom:5px; overflow:hidden;}
					.dataTipo span{color:#aeae73; float:left; display:block;}
					.dataTipo h4{color:#739523; float:left; padding:0 10px;}
				.bloco .box .itemNews p{ float:left;}
		.bloco a.mais:link, .bloco a.mais:active, .bloco a.mais:visited{ background:url(../img/plantinha.gif) no-repeat; color:#e17316; display:block; margin:0px 0 0 175px; padding:8px 0 8px 60px; width:100px; letter-spacing:-1px;}
				.bloco a.mais:hover{color:#b16628; text-decoration:underline;}
		.box .mais{ overflow:hidden;}
			.box .mais a:link, .box .mais a:active, .box .mais a:visited{ float:right; display:block; background:url(../img/btMais.jpg) right 0 no-repeat; height:22px; padding:0 32px 0 0; line-height:22px; color:#e17316; margin:15px 12px 0 0; }
			.box .mais a:hover{ background-position:right -22px; color: #b16628;}
			
			.bloco .box form label{width:95px;}
			.bloco .box form input{width:119px; }
			.bloco .box form select{ width:125px; }
			.bloco .box form a:link, .bloco .box form a:active, .bloco .box form a:visited{ float:right; margin-right:5px; }

	.bloco #noticias, /*.bloco #diretrizes,*/ .bloco #cadastre{ padding-left:0; border:none;}
	.bloco #quemSomos{ padding-right:0; width:250px; border:none;}
	.bloco #certificados, .bloco #insumos{ width:240px; padding-left:39px;padding-right:0; border:none;}
	
		.bloco #quemSomos p{ margin-top:17px; line-height:19px;}
		.bloco #quemSomos .mais2:link, .bloco #quemSomos .mais2:active, .bloco #quemSomos .mais2:visited{ background:url(../img/btIbd.jpg) no-repeat; color:#f6fce3; letter-spacing:-0.050em; padding:14px 20px 14px 61px; display:block; margin:12px 0 0 105px;}
			.bloco #quemSomos .mais2:hover{ background-position:0 -45px;}
			
	.bloco #diretrizes p{color:#5e5e53;border-bottom:solid 1px #dadbd7; margin-bottom:10px; padding:0 5px 10px 5px; }
		.bloco #diretrizes p span{ overflow:hidden; display:block;}
			.bloco #diretrizes p a:link, .bloco #diretrizes p a:active, .bloco #diretrizes p a:visited{ color:#929253; display:block; background:url(../img/setinhaDownAcessar.gif) 0 4px no-repeat; letter-spacing:-1px; padding:2px 0 0 19px; float:left;}
				.bloco #diretrizes p a:hover{ text-decoration:underline;} 
	
	.bloco #cadastre form label{ width:55px;}
	.bloco #cadastre form input{ width:223px;}
	.bloco #painelCliente form label{ width:45px;}
	.bloco #painelCliente form input{ width:218px;}
		.bloco #painelCliente form input.senha{ width:112px;}
	.bloco #cadastre form p, .bloco #painelCliente form p{ width:230px; margin-bottom:14px;}



	
/*wrap3*/
.wrap3 { background:url(../img/divisorConteudo.jpg) center top no-repeat;}
.wrap3 h3{ color:#768077; font-size:21px; font-style:italic; letter-spacing:-1px;}
.selos{ width:752px; float:left; margin-top:30px;}
	.selos h3{ padding-left:13px;}
	.selos img{ float:left;}
	.selos .selosCat{ overflow:hidden; padding-left:13px; margin:15px 0 ;}
		.selos .selosCat h4{ width:100%; float:left; color:#647d18; font:italic 19px Georgia, "Times New Roman", Times, serif; border-bottom:solid 1px #d3d0bc;}
	.selos .selosCat .seloOrganico{ float:left; width:587px; margin-right:24px; }
	.selos .selosCat .seloBio{ float:left; width:128px; }
	.selos .selosCat .seloSocio{ float:left; width:424px; margin: 10px 17px 0 0; }
	.selos .selosCat .seloAprovacoes{ float:left; width:282px; margin-top:10px; }

.tituloCertificadosInterno{color:#768077; font-size:21px; font-style:italic; letter-spacing:-1px;}	
	
	
.selos2{width:210px; height:280px; padding-left:23px; float:left; margin:30px 0 0 15px; background:url(../img/separadorConteudoVertical2.gif) left top repeat-y; }
	.selos2 img{float:left;}
	
.rodape{ background:url(../img/fundoRodape.jpg) center top no-repeat; padding-top:600px; position:relative; z-index:2; margin-top:-553px;}
	.rodape .centro{ position:relative; overflow:inherit;}
		.rodape .centro img{ position:absolute; top:-208px; left:-243px; z-index:100000;}
	.rodape .pattern{ background:url(../img/patternRodape.jpg) center top repeat-x; height:134px;}
	.rodape .rodapeInterno{ height:95px; text-align:center; }
		.rodape .rodapeInterno .menu{ text-transform:uppercase; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:13px; padding-top:27px;}
			.rodape .rodapeInterno .menu a:link, .rodape .rodapeInterno .menu a:active, .rodape .rodapeInterno .menu a:visited{ color:#ecdfd4; display:inline-block; margin:0 8px; padding:0 3px;}
				.rodape .rodapeInterno div a:hover{ color:#fff;}
		.rodape .rodapeInterno .dads{ font-family:Georgia, "Times New Roman", Times, serif; height:40px; line-height:40px;}
			.rodape .rodapeInterno .dads address{ width:646px; text-align:right; font-size:13px; float:left; color:#b6aba0; margin-right:25px;}
				.rodape .rodapeInterno .dads address em{font-size:14px; color:#e8dfd6;}
			.rodape .rodapeInterno .dads p{ font-size:18px; float:left; color:#f5efc7;}
				.rodape .rodapeInterno .dads p em{ font-size:13px;}
	.rodape .creditos{ background:url(../img/ibdRodape.gif) 29px 13px no-repeat; text-align:center; color:#412d20; font:normal 11px "Lucida Sans Unicode", "Lucida Grande", sans-serif; float:left; width:1000px; height:28px;}
	.rodape .creditos span{ float:left; display:block; margin-left:105px; padding-top:11px; color:#856956; }
	.rodape .creditos a:link, .rodape .creditos a:active, .rodape .creditos a:visited{float:right; display:block; background:url(../img/htm.jpg) no-repeat; width:148px; height:29px; margin-top:5px; }
	
	
/*	INTERNAS	*/

#topoInterno{ background:url(../img/topoInterno.jpg) center top no-repeat; height:48px; margin-top:31px;}
	#topoInterno2{ background:url(../img/topoInterno2.jpg) center top no-repeat; height:80px; margin-top:31px;}
	.topoInterno h2{ font:italic 28px Georgia, "Times New Roman", Times, serif; color:#fff; text-shadow:1px 1px 1px #7a9c28; line-height:48px; float:left; }
		#topoInterno2 h2{line-height:31px; margin-top:6px;}
			#topoInterno2 h2 span{ font-size:22px;}
				#topoInterno2 h2 span img{margin:9px 4px 0 4px;}
	.topoInterno a:link, .topoInterno a:active, .topoInterno a:visited{ height:29px; line-height:29px; padding-right:41px; margin-top:14px; color:#4f6f0a; float:right; background:url(../img/setaVoltar.jpg) right top no-repeat; display:block;}
		.topoInterno a:hover{ background-position:right -29px;}

#conteudo{ padding-bottom:20px; overflow:hidden;  background:url(../img/separadorConteudoVertical2.gif) 747px top repeat-y; }
	
	#conteudo .imagem, #conteudo .texto{ float:left; overflow:hidden;}
	
	#conteudo img.border3pxfff{ border:solid 3px #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
	
	#conteudo #quemsomos,
	#conteudo #certificados,
	#conteudo #certificadosConsultar,
	#conteudo #certificadosResultados,
	#conteudo #noticias,
	#conteudo #eventos,
	#conteudo #news,
	#conteudo #diretrizes,
	#conteudo #galeria,
	#conteudo #links,
	#conteudo #papelParede,
	#conteudo #painelCliente{ width:716px; float:left; font-size:13px; line-height:20px; padding-right:34px; }
	
	#conteudo #chamadaInternas{float:left; width:225px; overflow:hidden; padding-left:25px;}

		#conteudo #chamadaInternas h3{color:#3a723d; font-size:22px; font-style:italic; letter-spacing:-1px; margin-bottom:12px;}
		#conteudo #chamadaInternas .box{ margin:20px 0; overflow:hidden;}
			#conteudo #chamadaInternas .box .itemNews{ width:100%;  border-bottom:solid 1px #dadbd7; margin-bottom:13px; overflow:hidden; padding-bottom:10px;}
				#conteudo #chamadaInternas .box .itemNews .dataTipo{ width:100%; padding-bottom:5px; overflow:hidden;}
					#conteudo #chamadaInternas .box .itemNews .dataTipo span{color:#aeae73; float:left; display:block;}
					#conteudo #chamadaInternas .box .itemNews .dataTipo h4{color:#739523; float:left; padding:0 10px;}
				#conteudo #chamadaInternas .box .itemNews p{ float:left;}
		#conteudo #chamadaInternas a.mais:link, #conteudo #chamadaInternas a.mais:active, #conteudo #chamadaInternas a.mais:visited{ background:url(../img/plantinha.gif) no-repeat; color:#e67617; display:block;  padding:8px 0 8px 60px; letter-spacing:-1px; float:right;}
				#conteudo #chamadaInternas a.mais:hover{color:#b46c2f; text-decoration:underline;}
		.box .mais{ overflow:hidden;}
			.box .mais a:link, .box .mais a:active, .box .mais a:visited{ float:right; display:block; background:url(../img/btMais.jpg) right 0 no-repeat; height:22px; padding:0 32px 0 0; line-height:22px; color:#e67617; margin:15px 12px 0 0; }
			.box .mais a:hover{ background-position:right -22px; color:#b46c2f; text-decoration:underline;}
			
		#conteudo #chamadaInternas .box form li{ padding:4px 0;}
			#conteudo #chamadaInternas .box form label{width:85px; white-space:nowrap; }
			#conteudo #chamadaInternas .box form input{width:119px; }
			#conteudo #chamadaInternas .box form select{width:125px;}
			#conteudo #chamadaInternas .box form a:link, #conteudo #chamadaInternas .box form a:active, #conteudo #chamadaInternas .box form a:visited{  float:right; }
				
			#conteudo #chamadaInternas .mais a:link, #conteudo #chamadaInternas .mais a:active, #conteudo #chamadaInternas .mais a:visited{ margin:0; }

		#conteudo #chamadaInternas #painelCliente{ width:auto; float:none; font-size:inherit; line-height:inherit; padding-right:0; }
		#conteudo #chamadaInternas #painelCliente h3{ padding:0;}
		#conteudo #chamadaInternas #painelCliente p{ margin-bottom:14px;}
		#conteudo #chamadaInternas #painelCliente label{ width:45px;}
		#conteudo #chamadaInternas #painelCliente input{ width:135px;}
		#conteudo #chamadaInternas #painelCliente input.senha{ width:100px;}

		
		.paginacao{ width:100%; overflow:hidden; margin-top:25px;}
			.paginacao .nav{ float:right; overflow:hidden;}
				.paginacao .nav a:link, .paginacao .nav a:active, .paginacao .nav a:visited{ display:block; float:left; height:22px; margin-right:6px;}
				.paginacao .nav .anterior:link, .paginacao .nav .anterior:active, .paginacao .nav .anterior:visited{ background:url(../img/paginacaoSetas.jpg) no-repeat; color:#fbfff0; width:89px; text-indent:15px;}
				.paginacao .nav .proxima:link, .paginacao .nav .proxima:active, .paginacao .nav .proxima:visited{background:url(../img/paginacaoSetas.jpg) right 0 no-repeat; color:#fbfff0; width:89px; text-indent:28px;}
						.paginacao .nav .anterior:hover{ background-position:0 -22px;}
						.paginacao .nav .proxima:hover{ background-position:right -22px;}
				.paginacao .nav .bt:link, .paginacao .nav .bt:active, .paginacao .nav .bt:visited{ width:24px; background:url(../img/paginacao.jpg) no-repeat; color:#dee3d0; font-family:Verdana, Geneva, sans-serif; text-align:center;} 
					.paginacao .nav .bt:hover{ background-position:0 -22px; color:#ffff83;}
				
				.paginacao .nav .proxima.inativa, .paginacao .nav .anterior.inativa
				    { zoom: 1; filter: alpha(opacity=50); opacity: 0.5; cursor:text; }
					
		.apple_overlay {display:none; width:859px; height:413px; z-index:100; padding:18px 16px;}
		.apple_overlay .close {	background-image:url(../img/close.png);	position:absolute; right:-14px; top:-20px; cursor:pointer; height:35px; width:85px; }
		.apple_overlay .close:hover { background-position:top left;}
		
			.apple_overlay .abas{ height:42px; border-bottom:solid 1px #e7e7d7;}
				.apple_overlay .abas .aba:link, .apple_overlay .abas .aba:active, .apple_overlay .abas .aba:visited{ display:block; float:left; height:42px; color: #495b4a; font-size: 24px; font-style: italic; letter-spacing: -1px; line-height:42px; padding:0 15px; border-right:solid 1px #e7e7d7; opacity:0.60; -moz-opacity: 0.60; filter: alpha(opacity=60);background:#fff;   }

				.apple_overlay .abas .ativo:link, .apple_overlay .abas .ativo:active, .apple_overlay .abas .ativo:visited{ height:43px; background:#fff; opacity:1.0; -moz-opacity: 1.0; filter: alpha(opacity=100); }
			
			.apple_overlay .abas .bts { float:right; overflow:hidden;}
				.apple_overlay .abas .bts .novaPesquisa:link, .apple_overlay .abas .bts .novaPesquisa:active, .apple_overlay .abas .bts .novaPesquisa:visited{ display:block; float:left; background:url(../img/novaPesquisaBt.jpg) no-repeat; width:130px; height:26px; color:#fff; text-align:center;  line-height:26px; text-indent:26px;}
				.apple_overlay .abas .bts .novaPesquisa:hover{ background-position:0 -26px;}
				
				.apple_overlay .abas .bts .imprimir:link, .apple_overlay .abas .bts .imprimir:active, .apple_overlay .abas .bts .imprimir:visited{ display:block; float:left; background:url(../img/imprimirRegistro.jpg) no-repeat; height:26px; color:#fff; text-align:center; width:147px; line-height:27px; text-indent:26px; margin-right:10px;}
				.apple_overlay .abas .bts .imprimir:hover{ background-position:0 -26px;}
				
				
			.apple_overlay .janelaTexto{ height:322px; overflow:auto; background:#fff; padding:25px 27px;}
				.apple_overlay .janelaTexto .empresaTexto{ color:#676523; overflow:hidden; }
					.apple_overlay .janelaTexto .empresaTexto span{ color:#d29d2b; margin-right:10px;}
					.apple_overlay .janelaTexto .empresaTexto div{ padding:4px 0;}
					.apple_overlay .janelaTexto .empresaTexto .matricula{ float:left; margin-right:40px;}
					.apple_overlay .janelaTexto .empresaTexto .nomeEmpresa{ float:left; width:660px;}
						.apple_overlay .janelaTexto .empresaTexto .nomeEmpresa p{ color:#2e2d0e;}
						
			.apple_overlay .produtosDiretrizes{ color:#676523; display:none;}
				.apple_overlay .produtosDiretrizes span{ color:#2e2d0e;}
			.apple_overlay .produtosDiretrizes .clique { cursor:pointer; }
			.apple_overlay .produtosDiretrizes .textoToggle{ padding:5px 0 10px 35px;}
		
	
/*	INTERNAS	*/


/*	QUEM SOMOS	*/

	#quemsomos .box1{ overflow:hidden; margin:20px 0; }
		#quemsomos .galeria{ width:278px; float:left; margin-right:30px; }
		#quemsomos .box1 p{ width:405px; float:left; }
			#quemsomos .box1 p span{ font-size: 15px; display:block; margin-bottom:10px; }
	#quemsomos .box2{ overflow:hidden;}
		#quemsomos .box2 .bt:link, #quemsomos .box2 .bt:active, #quemsomos .box2 .bt:visited{ border:solid 1px #fff; color:#3a723d; display:block; width:100%; height:38px; font-size:19px; line-height:38px; text-indent:50px; font-style:italic; letter-spacing:-1px; background:url(../img/iconeToogle.gif) 19px -38px no-repeat #fffcec; margin-bottom:4px;}
		#quemsomos .box2 .bt:hover, #quemsomos .box2 .btativo:link, #quemsomos .box2 .btativo:active, #quemsomos .box2 .btativo:visited{ background:url(../img/iconeToogle.gif) 19px top no-repeat #fffcec;}
		#quemsomos .box2 .toggle{ padding:10px;}
			#quemsomos .box2 .toggle img{ float:left; margin:0 20px 0 0;}
			
	

/*	QUEM SOMOS	*/
		
	.tituloCertificaoInterno{color: #2D312E; background:url(../img/arvoreSubtitulo.jpg) no-repeat left top; padding-left:46px; height:33px; line-height:33px; font-size: 20px; margin:15px 0 10px; width: 100%;}
		.itemNormas{ display:block; background:#fffcec; padding:4px 8px 4px 8px; margin:0px 8px 10px 0px; float:left; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border:solid 2px #f6f2df;}
		.limpaFloat{ clear:both; height:10px;}
		
		a.itemNormas:link, a.itemNormas:active, a.itemNormas:visited{ display:block; padding:6px 10px 6px 33px; margin:0px 8px 10px 0px; float:left; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border:solid 2px #f6f2df; background:url(../img/iconDonwload.gif) no-repeat 9px 9px #fffcec;} 
		  a.itemNormas:hover{ display:block; ; color:#FFF; border:solid 2px #fff; background:url(../img/iconDonwload.gif) no-repeat 9px -28px #638515;}
		 
		 
	#conteudo #clientes{ width:716px; float:left; font-size:13px; line-height:20px; padding-right:34px; padding-top:20px;}
	
	#clientes .motivos{  margin:10px 0px 20px 0px; overflow:hidden;}
		#clientes .motivos h3{ color:#2d312e; font-size:20px; float:left; width:100%; margin:15px 0 20px 0;}
		#clientes .motivos .itens{ width:100%; float:left; padding-right:20px; }
			#clientes .motivos .itens span{ background:url(../img/bgnum.gif) no-repeat; width:24px; height:22px; display:block; text-align:center; font:normal 13px Verdana, Geneva, sans-serif; line-height:22px; color:#d9f2e2; float:left;}
			#clientes .motivos .itens p{ width:660px; float:left; padding-left:10px; padding-bottom:25px;}
		#clientes .motivos .both{ float:left; clear:both; height:30px; width:100%;}	
	 
/* PARCEIROS */

.listaParceiros{ width:100%; background:url(../img/divisorHorizontalConteudo.gif) bottom center repeat-x; overflow:hidden; padding:25px 0; margin-top:10px; }
	.listaParceiros .texto{ width:520px; margin-left:25px;}
		.listaParceiros .texto h3{ color:#2d312e; font-size:20px; line-height:22px; margin-bottom:10px;}
			.listaParceiros .texto h3 a:link, .listaParceiros .texto h3 a:active, .listaParceiros .texto h3 a:visited{ color:#2d312e;}
			.listaParceiros .texto h3 a:hover{ color:#325a3c;}
		.listaParceiros .texto p{ font-size:12px; line-height:23px;}

/* PARCEIROS */

/* CERTIFICADOS CONSULTAR */

#certificadosConsultar{ margin-top:25px;}
	#certificadosConsultar p{ width:350px; margin-bottom:20px;}
		#certificadosConsultar .texto{ width:435px;}
		#certificadosConsultar li{ margin-bottom:6px;}
		#certificadosConsultar label{ width:120px; color:#727a66; font-size:15px; }
		#certificadosConsultar input{ width:215px;}
		#certificadosConsultar select{ width:221px;}
		#certificadosConsultar .btBuscar{ float:left;}
	
/* CERTIFICADOS CONSULTAR */


/* CERTIFICADOS RESULTADOS*/

#certificadosResultados{ margin-top:25px;}

	#certificadosResultados .resultadosCabecalho{ width:100%; }
		#certificadosResultados .resultadosCabecalho h3{color: #3A723D; font-size: 20px; font-style: italic; letter-spacing: -1px; margin: 15px 0 10px 0;}
		#certificadosResultados .resultadosCabecalho .tabs{ overflow:hidden; margin-bottom:15px;}
			#certificadosResultados .resultadosCabecalho .tabs div{ margin: 0 21px 10px 0; padding:2px 21px 4px 0; border-right:solid 1px #d3d0bc; float:left;}
				#certificadosResultados .resultadosCabecalho .tabs div span{ color:#919b83; line-height:14px;}
				#certificadosResultados .resultadosCabecalho .tabs div p{ color:#676523; font-size:14px; line-height:14px;}

		#certificadosResultados .resultadosCabecalho .novaPesquisa:link, 
		#certificadosResultados .resultadosCabecalho .novaPesquisa:active, 
		#certificadosResultados .resultadosCabecalho .novaPesquisa:visited{ display:block; float:left; background:url(../img/novaPesquisaBt.jpg) no-repeat; width:130px; height:26px; color:#fff; text-align:center;  line-height:26px; text-indent:26px; margin-right:20px;}
		#certificadosResultados .resultadosCabecalho .novaPesquisa:hover{ background-position:0 -26px;}
		
		#certificadosResultados .resultadosCabecalho .imprimir:link, 
		#certificadosResultados .resultadosCabecalho .imprimir:active, 
		#certificadosResultados .resultadosCabecalho .imprimir:visited{ display:block; float:left; background:url(../img/btImprimir.jpg) no-repeat; height:26px; color:#fff; text-align:center; width:139px; line-height:26px; text-indent:26px;}
		#certificadosResultados .resultadosCabecalho .imprimir:hover{ background-position:0 -26px;}
		
		#certificadosResultados .resultadosPesquisa{ margin-top:25px; overflow:hidden;}
			#certificadosResultados .resultadosPesquisa .topoResultados{ background:url(../img/resultadosPesquisa.jpg) repeat-x; height:70px; padding:0 17px; margin-bottom:15px;}
				#certificadosResultados .resultadosPesquisa .topoResultados h3{color: #3A723D; font-size: 24px; font-style: italic; letter-spacing: -1px; line-height:28px; padding-top:10px; }
				#certificadosResultados .resultadosPesquisa .topoResultados div{ color:#abab98;}
					#certificadosResultados .resultadosPesquisa .topoResultados div span{ float:right;}
					
			#certificadosResultados .resultadosPesquisa .listaResultados{ overflow:hidden; }
				#certificadosResultados .resultadosPesquisa .listaResultados a:link, 
				#certificadosResultados .resultadosPesquisa .listaResultados a:active, 
				#certificadosResultados .resultadosPesquisa .listaResultados a:visited{ width:100%; display:block; overflow:hidden;  border-bottom:solid 1px #e7e4c7; padding-left:43px; background:url(../img/it.gif) 16px center no-repeat; }
					#certificadosResultados .resultadosPesquisa .listaResultados a:hover{ background-position:-873px center; background-color:#fffcec; }
					#certificadosResultados .resultadosPesquisa .listaResultados a span.tx{ display:block; float:left; overflow:hidden; padding: 7px 10px 6px 20px; border-left:solid 1px #e7e4c7;}
						#certificadosResultados .resultadosPesquisa .listaResultados a span.tx em{ color:#868654;}
						
			#certificadosResultados .resultadosPesquisa  .paginacao span{color:#898975;}
			

/* CERTIFICADOS RESULTADOS */

/* NOTICIAS */
#conteudo #noticias{ margin-top:25px;}
	#noticias .itemNoticias{ padding:20px 0 25px; border-bottom:solid 1px #dfdbbc; overflow:hidden; }
		#noticias .itemNoticias .texto{ width:510px; margin-left:20px;}
		#noticias .itemNoticias .texto2{width:auto; float:none; margin-left:0; padding:0 5px;}
			#noticias .itemNoticias .texto .dataTipo{ padding:2px 0;}
			#noticias .itemNoticias .texto h3{ color:#606023; font-size:19px; margin-bottom:6px;}
				#noticias .itemNoticias .texto h3 a:link, #noticias .itemNoticias .texto h3 a:active, #noticias .itemNoticias .texto h3 a:visited{ color:#606023; }
					#noticias .itemNoticias .texto h3 a:hover{ color:#8e8e4d;}
			#noticias .itemNoticias .texto p{ color:#86866e;}
			
	#noticias .itemNoticiasInterno{ padding:20px 0 25px; overflow:hidden; }
		#noticias .itemNoticiasInterno .texto2{width:auto; float:none; margin-left:0; padding:0 5px;}
			#noticias .itemNoticiasInterno .texto .dataTipo{ padding:4px 0; font-size:17px; width:100%;}
				#noticias .itemNoticiasInterno .texto .dataTipo p{ float:right; font-size:13px; color:#898975;}
			#noticias .itemNoticiasInterno .texto h3{ color:#606023; font-size:24px; margin-bottom:6px; line-height:26px; margin-bottom:15px;}
			#noticias .itemNoticiasInterno .texto p{ color:#86866e; line-height:22px;}
				#noticias .itemNoticiasInterno .texto p a:link, #noticias .itemNoticiasInterno .texto p a:active, #noticias .itemNoticiasInterno .texto p a:visited{ color:#658617;}
					#noticias .itemNoticiasInterno .texto p a:hover{ text-decoration:underline;}

/* NOTICIAS */

/* EVENTOS */

#conteudo #eventos{ margin-top:25px; }

	#eventos .mesAno{ color:#3a723d; font-size:22px; font-style:italic; background:#fffcec; height:35px; line-height:35px; margin:20px 0 5px 0; position:relative;}
		#eventos .mesAno span{ position:absolute; width:39px; height:35px; display:block; left:-39px; background:#fffcec; }
	
	#eventos .itemEvento{ border-bottom:solid 1px #dfdbbc; padding:20px 0;}
		#eventos .itemEvento h3{ color:#606023; font-size:19px;}
		#eventos .itemEvento div{ color:#797949; padding:5px 0;}
			#eventos .itemEvento div span{ color:#739523; margin:0 30px 0 10px;}
			#eventos .itemEvento div em{ color:#9b9b42; margin-left:5px;}
		#eventos .itemEvento p{ color:#86866e;}
	

/* EVENTOS */

/* NEWS */

#news{ margin-top:25px; }

	#news .ibdNews{ margin:30px 0;}
		#news .ibdNews a:link, #news .ibdNews a:active, #news .ibdNews a:visited{ display:block; border-bottom:solid 1px #dfdbbc; color:#739523; font-size:17px; height:37px; line-height:37px; background:url(../img/it.gif) 15px 14px no-repeat; padding-left:40px;}
			#news .ibdNews a span{ color:#606023}	
	#news .ibdNews a:hover{ background-color:#fffcec; background-position:-874px 14px;}
	
	#news .cadastrese h3{ color:#517e4d; font-size:20px; font-style:italic; line-height:30px;}
	#news .cadastrese p{ font-size:14px; line-height:26px;}
	#news .cadastrese ul{ width:300px; margin-top:10px;}
	#news .cadastrese label{ width:55px;}
	#news .cadastrese input{ width:223px;}
	#news .cadastrese a:link, #news .cadastrese a:active, #news .cadastrese a:visited{ float:right;}

/* NEWS */

/* DIRETRIZES E LEGISLAÃ‡ÃƒO */

#conteudo #diretrizes{ margin-top:25px; }

	#conteudo #diretrizes h3{ background:#fffcec; border:solid 1px #fffdf5; padding:5px 15px; font-size:19px; color:#3a723d; font-style:italic; margin:10px 0;}
	
	#diretrizes	.listaDiretrizesLegislacao a:link, 
	#diretrizes	.listaDiretrizesLegislacao a:active, 
	#diretrizes	.listaDiretrizesLegislacao a:visited{  display:block; border-bottom:solid 1px #dfdbbc; color:#606023; font-size:15px; background:url(../img/setinhaDownAcessar2.gif) 15px 12px no-repeat; padding-left:40px; padding:8px 8px 8px 40px;}
	#diretrizes	.listaDiretrizesLegislacao a span{ color:#8f8f73; font-size:16px; font-weight:bold; display:block; line-height:18px;}
	#diretrizes	#desc{ color:#606023; font-size:12px; display:block; line-height:18px;}
	#diretrizes	.listaDiretrizesLegislacao a:hover{ background-color:#fffcec; background-position:15px -180px;}

/* DIRETRIZES E LEGISLAÃ‡ÃƒO */

/* GALERIA */

#galeria{ margin-top:25px; }

	#galeria .listaGaleria{ overflow:hidden; padding-bottom:25px; border-bottom:solid 1px #dad7c3;}
	#galeria .listaGaleria .galerias{ width:202px; min-height:195px; float:left; margin:24px 0 0 26px; padding-left:25px; border-left:solid 1px #dfdbbc; }
	#galeria .listaGaleria .item1{margin-left:0; padding-left:0; border:none;}
		#galeria .listaGaleria .galerias span{ text-align:center; display:block; font-size:15px; margin-top:10px; padding:0 7px;}
		
	#galeria .titulo{ margin:2px 0;}
		#galeria .titulos span{ color:#898975; font-size:14px;}
		#galeria .titulo h3{ color:#606023; font-size:26px; line-height:36px;}

/* GALERIA */

/* LINKS */

#links{ margin-top:25px; }

	#links h3{ background:#fffcec; border:solid 1px #fffdf5; padding:5px 15px; font-size:19px; color:#3a723d; font-style:italic; margin:10px 0;}
	#links .itemLinks{ overflow:hidden; padding:15px 0; border-bottom:solid 1px #dfdbbc;}
		#links .itemLinks .texto{ width:565px; padding-left:20px;}
			#links .itemLinks .texto .link:link, #links .itemLinks .texto .link:active, #links .itemLinks .texto .link:visited{ float:right; color:#7f9842;}
				#links .itemLinks .texto .link:hover{ text-decoration:underline;}
			#links .itemLinks .texto h4{ color:#606023; font-size:17px; padding:6px 0 2px 0; width:350px;}
				#links .itemLinks .texto h4 a:link, #links .itemLinks .texto h4 a:active, #links .itemLinks .texto h4 a:visited{ color:#606023; }
				#links .itemLinks .texto h4 a:hover{ color:#9f9f66;}
			#links .itemLinks .texto p{ color:#8a8a6f; line-height:18px;}
	

/* LINKS */

/* GALERIA */

#papelParede{ margin-top:25px; }

	#papelParede .listaPapel{ overflow:hidden; padding-bottom:25px; }
	#papelParede .listaPapel .galerias{ width:202px; min-height:195px; float:left; margin:24px 0 0 26px; padding-left:25px; border-left:solid 1px #dfdbbc; }
		#papelParede .listaPapel .galerias div{ overflow:hidden; padding: 5px 0px 5px 16px; font-size:15px;}
			#papelParede .listaPapel .galerias div a:link, #papelParede .listaPapel .galerias div a:active, #papelParede .listaPapel .galerias div a:visited{ float:left; display:block; padding:0 14px 3px 0;}
	#papelParede .listaPapel .item1{margin-left:0; padding-left:0; border:none;}

/* GALERIA */

/* PAINEL DO CLIENTE */

#conteudo #painelCliente{margin-top:25px; }

	#painelCliente h3{ color:#3a723d; font-size:22px; font-style:italic; padding:20px 0; text-indent:2px;}
	#painelCliente p{ font-size:14px;}
	#painelCliente form ul{ margin-top:10px;}
	#painelCliente form li{ padding:8px 0 7px 0; }
	#painelCliente form fieldset{ margin:17px 0; }
	#painelCliente form legend{ background:#fffcec; border:solid 1px #fffefc; padding:8px 15px; width:680px; font-size:18px; color:#537755; font-style:italic;}
	#painelCliente form .cadastrar:link, #painelCliente form .cadastrar:active, #painelCliente form .cadastrar:visited, .cadastrar:link, .cadastrar:active, .cadastrar:visited { font-size:14px; float:left; background:url(../img/cadastrarBt.jpg) no-repeat; width:100px; height:26px; line-height:26px; text-align:left; text-indent:14px; color:#fbfff0;}
		#painelCliente form .cadastrar:hover, .cadastrar:hover{ background-position:0 -26px;}
	#painelCliente label{ width:93px; font-size:15px; color:#727a66;}
	#painelCliente input,#painelCliente select{ background-color:#fff; height:22px; width:311px;}
	#painelCliente .legendaInputs{ color:#94998d; float:left; margin:0 10px; line-height:22px;}
	#painelCliente .jaSouCadastrado{ overflow:hidden; border-bottom:solid 1px #d3d0bc; padding-bottom:25px;}
		#painelCliente .jaSouCadastrado fieldset{ margin:0; }
		#painelCliente .jaSouCadastrado ul{ width:331px;}
		#painelCliente .jaSouCadastrado input{ width:216px;}
		#painelCliente .jaSouCadastrado .cadastrar:link, #painelCliente .jaSouCadastrado .cadastrar:active, #painelCliente .jaSouCadastrado .cadastrar:visited{ float:right;}
		

/* PAINEL DO CLIENTE */

/* DUVIDAS FREQUENTES*/

.digiteProcurando{ margin:20px 0; float:left; width:330px;}
	.digiteProcurando input{ width:216px; height:27px; background:url(../img/fundoInputDuvidas.gif) repeat-x; line-height:27px }
	.digiteProcurando a:link, .digiteProcurando a:active, .digiteProcurando a:visited{ background:url(../img/buscarBt.gif) no-repeat; float:left; height:26px; width:85px; text-indent:22px; font-size:14px; line-height:27px; margin-left:20px;}
		.digiteProcurando a:hover{ background-position:0 -26px;}
		
	.resultado{ float:right; font-size:15px; color:#727a66; margin-top:45px;}
		.resultado span{ color:#739523; font-size:20px;}

/* DUVIDAS FREQUENTES*/

/* FALE CONOSCO	*/

.faleConosco{ overflow:hidden;}
	#conteudo .faleConosco form{ width:370px; float:left;}
	#conteudo .faleConosco select{ width:220px;}
	#conteudo .faleConosco input{ width:216px; }
	#conteudo .faleConosco label{ color: #727A66; font-size: 15px; width: 63px;}
	.faleConosco textarea{ background:bottom center repeat-x #fff; border:none; padding:5px; width:280px; max-width:280px; min-width:280px; height:150px; max-height:350px; min-height:150px; color:#727a66;}
	
	.dados{ float:left; width:266px; font-size:15px; color:#595941; margin:30px 0 0 60px;}
		.dados span{ font-weight:bold;}
		.dados .num{ font-size:20px; color:#718f21;}
/* FALE CONOSCO	*/

/* TRABALHE CONOSCO */


	.trabalheConosco div p a:link, .trabalheConosco div p a:active, .trabalheConosco div p a:visited{ color:#769c1f;}
	.trabalheConosco div p a:hover{ text-decoration:underline;}
	#conteudo .trabalheConosco ul{ width:437px;}
	#conteudo .trabalheConosco label{ width:100px;}
	#conteudo .trabalheConosco select{ width:220px;}
	.trabalheConosco textarea{ background:bottom center repeat-x #fff; border:none; padding:5px; width:310px; max-width:310px; min-width:310px; height:150px; max-height:350px; min-height:150px; color:#727a66;}

/* TRABALHE CONOSCO */

.erroLogin{font-size:13px; color:#d36b06; padding:15px 0px 5px 45px; width:400px;}
	.erroLogin img{float:left; margin-right:10px;}


/* ECOSOCIAL */

.itemClientesEcoSocial{ width:205px; text-align:center; padding:5px 23px 10px 0px; border-right:solid 1px #dfdbbc; float:left; margin:0px 23px 10px 0px; }

.ecoSocialSemMargem{ padding:5px 0px 20px 0px; margin:0px 0px 10px 0px; border:none;}

	.itemClientesEcoSocial .imagem{ background:url(../img/fundoImagemClientes.gif) no-repeat; width:204px; height:138px;}
		.itemClientesEcoSocial .imagem img{ margin:6px;}
		.itemClientesEcoSocial .titulo{ padding:10px 0px 0px 0px; display:block; float:left; width:204px;}

.collapsible 
{
    cursor:pointer;
}		
.collapsible:before 
{
    content:"[+]";
}
.collapsible.opened:before 
{
    content:"[-]";
}
.collapsible + .container 
{
    display:none;
}
.list-number 
{
    counter-reset: item;
    margin-top:10px;
}
.list-number li
{
    margin-bottom:20px;
    position:relative;
    padding-left: 43px;
}
.list-number li:before 
{
    font-size:22px;
    content:counter(item);
    counter-increment: item;
    border:solid 1px #595941;
    padding: 1px 8px 5px 8px;
    border-radius:15px;
    /*margin:0 12px 5px 0;*/
    position:absolute;
    left:0;
    top:0;
    float:left;
}
/* Lista não ordenada */
.list 
{
    
}
.list li:before
{
    content: "-";
    float:left;
    margin-right:2px;
}
.table-home {
    margin-bottom: 20px;
}
.table-home td {
    vertical-align: top;
}











