/* CSS Document */


@font-face {
    font-family: 'DaxMediumRegular';
    src: url('../fontes/dam___-webfont.eot');
    src: url('../fontes/dam___-webfont.eot?iefix') format('eot'),
         url('../fontes/dam___-webfont.woff') format('woff'),
         url('../fontes/dam___-webfont.ttf') format('truetype'),
         url('../fontes/dam___-webfont.svg#webfont33dbiYJI') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DaxRegular';
    src: url('../fontes/dar___-webfont.eot');
    src: url('../fontes/dar___-webfont.eot?iefix') format('eot'),
         url('../fontes/dar___-webfont.woff') format('woff'),
         url('../fontes/dar___-webfont.ttf') format('truetype'),
         url('../fontes/dar___-webfont.svg#webfontUJp7bX6y') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansRegular';
    src: url('../fontes/droidsans-webfont.eot');
    src: url('../fontes/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/droidsans-webfont.woff') format('woff'),
         url('../fontes/droidsans-webfont.ttf') format('truetype'),
         url('../fontes/droidsans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'DroidSansBold';
    src: url('../fontes/droidsans-bold-webfont.eot');
    src: url('../fontes/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/droidsans-bold-webfont.woff') format('woff'),
         url('../fontes/droidsans-bold-webfont.ttf') format('truetype'),
         url('../fontes/droidsans-bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


