﻿/* DEFAULTS
----------------------------------------------------------*/
*
{
    font-family: Calibri;
}

body
{
    background-image: url('/Admin/Media/Images/fundo_pagina_1.png') !important;
    font-size: .80em;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

fieldset legend
{
    font-weight:bold;    
}

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #212121;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    border-radius: 5px;
    background-clip: border-box;
    -webkit-background-clip: border-box; /* Safari */
    background-color: #fff;
    width: 960px;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    padding-bottom: 10px;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #9197a1;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    width: 960px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.footer p
{
    text-align: right;
    margin: 0;
    padding: 0;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-image: url('/Admin/Media/Images/botao_fundo_01.png') !important;
    width: 100%;
    height: 35px;
    z-index: 100;
}

div.hideSkiplink a
{
    z-index: 100;
}

div.menu
{
    margin: 3px 4px;
    z-index: 100;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    z-index: 100;
}

div.menu ul li a, div.menu ul li a:visited
{
    border-radius: 5px;
    background-clip: border-box;
    -webkit-background-clip: border-box; /* Safari */
    margin: 1px;
    background-color: #3a4f63;
    border: 1px #efeff1 solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    z-index: 100;
}

div.menu ul li a:hover
{
    background-image: url('/Admin/Media/Images/botao_fundo_01_on.png') !important;
    background-repeat: repeat-x;
    text-decoration: none;
    z-index: 100;
}

div.menu ul li a:active
{
    background-color: #3a4f63;
    color: #dde4ec;
    text-decoration: none;
    z-index: 100;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    color: White;
}

.loginDisplay p
{
    margin: 0;
    padding: 0;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
