﻿.Fieldset, .Field
{
    border-radius: 5px;
}

.Fields
{
    width: 100%;
    margin-bottom: 5px;
}

.Fields p
{
    margin: 0px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.Fields p input
{
    vertical-align: middle;
}

.Label, .LabelFilters
{
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: left;
}

.Label
{
    width: 150px;
}

.LabelFilters
{
    width: 70px;
    color: #212121;
}

.LabelTop
{
    vertical-align: top;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: left;
    width: 150px;
}

.Validators
{
    vertical-align: middle;
    display: inline-block;
    color: Red;
}
