﻿.GridView
{
    border-bottom: 1px solid #0d1e2d;
}

.GridView .gvHeaderStyle
{
    height: 27px;
    background-image: url('/Admin/Media/Images/GridViews/grade_fundo_titulo_1.png') !important;
}

.GridView .gvHeaderStyle th a, .GridView .gvHeaderStyle th
{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.GridView .gvHeaderStyle th a:hover
{
    text-decoration: underline;
}

.GridView .gvPagerStyle
{
    background-color: #ffffff;
    color: #ffffff;
    text-align: right;
}

.GridView .gvPagerStyle input
{
    display: inline-block;
    vertical-align: middle;
}

.GridView .gvRowStyle
{
    background-color: #ffffff;
    color: #212121;
}

.GridView .gvAlternatingRowStyle
{
    background-color: #dddddd;
    color: #212121;
}

.GridView .gvSelectedRowStyle
{
    background-color: #edecec;
    font-weight: bold;
    color: #212121;
}

.GridView .gvSortedAscendingHeaderStyle th a
{
}

.GridView .gvSortedAscendingHeaderStyle
{
    background-image: url('/Admin/Media/Images/GridViews/ascending.png') !important;
    background-repeat: no-repeat;
    background-position: 80% 50%;
}

.GridView .gvSortedAscendingHeaderStyle th a
{
}

.GridView .gvSortedAscendingCellStyle
{
    text-align: center;
}

.GridView .gvSortedDescendingHeaderStyle
{
    background-image: url('/Admin/Media/Images/GridViews/descending.png') !important;
    background-repeat: no-repeat;
    background-position: 80% 50%;
}

.GridView .gvSortedDescendingCellStyle
{
    text-align: center;
}

.GridView .gvCommandFieldItem
{
    width: 5px;
}

.GridView .gvCommandFieldItem input
{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px;
}

.GridView .gvLeft
{
    text-align: left;
}

.GridView .gvCenter
{
    text-align: center;
}

.GridView .gvPagerTextBox
{
    text-align: center;
}

.GridView .gvPagerLiteral
{
    color: #000000;
    display: inline-block;
    vertical-align: middle;
}

.GridView .EditRowStyle
{
    background-color: #b6e5ae;
}
