﻿*
{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

body
{
    background-image: url('/Admin/Media/Images/fundo_pagina_1.png') !important;
}

#page
{
    background-image: url('/Admin/Media/Login/conexao_fundo_1.png') !important;
    background-repeat: no-repeat;
    position: absolute;
    width: 600px;
    min-height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -150px;
}

form
{
    float: left;
    width: 600px;
    height: 250px;
    margin-top: 50px;
}

#fields
{
    width: 370px;
    float: left;
}

form p
{
    display: block;
    text-align: center;
}

form p.title
{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

p.fields
{
    margin-top: 10px;
}

p.logo
{
    display: block;
    text-align: right;
}

p.error
{
    color: #7f0101;
}

p.error img
{
    vertical-align: middle;
}

label
{
    display: inline-block;
    width: 60px;
    font-weight: bold;
}

#logo
{
    position: absolute;
    top: 40px;
    right: 20px;
}
