﻿.divShowException, .divShowExceptionSucesso
{
    position: relative;
    float: left;
    width: 96%;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
}

.divShowException
{
    background-color: #fff1f1 !important;
    border: 1px solid #7f0101;
}

.divShowExceptionSucesso
{
    background-color: #e0f9dc !important;
    border: 1px solid #486443;
}

.divShowExceptionLogo
{
    position: relative;
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}

.divExceptions
{
    font-family: Calibri;
    font-size: 12px;
    color: #000;
    position: relative;
    float: left;
    width: 500px;
}

.divExceptions p
{
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
