﻿/* Estilos comuns em todos os idiomas */
.topo .subMenu .qualidade-certificada {
    background: url(../img/bgQualidadeCertificada.jpg);
}
.topo .subMenu .qualidade-certificada a {
    color: #cbecfa;
}
.topo .subMenu .qualidade-certificada a:hover {
    background: url(../img/bgQualidadeCertificadaHover.jpg);
}
/* selos rodape */
.interno .selos h3, .interno .selosCat{
    padding-left: 0
}
.interno .selos h3, .interno .selos2 h3
{   
    margin: 15px 0 10px;
    width: 100%;
    color: #768077;
    font-size: 21px;
    font-style: italic;
    letter-spacing: -1px;
}
.interno .selos2:last-child {
    margin: 64px 0 0 0; 
    padding: 0px 0px 0px 25px; 
    background: none
}
/* menu sub. */
#subCertificacoes {    
    width: 200px;
}

#subCertificacoes.subMenu > div {
    padding: 0;
    position: relative;
    width: 200px;
}
#subCertificacoes.subMenu > div > a {
    border-bottom: none;
    padding: 4px 20px 4px 16px;
}
#subCertificacoes.subMenu .sub {  
    display: none;   
    position: absolute;
    left: 200px;
    top: 0;
    width: 200px;
    right: -1px;
}
#subCertificacoes.subMenu > div > a:hover + .sub, #subCertificacoes.subMenu > div > a + .sub:hover {
    display: block;
}
#subCertificacoes.subMenu .organicos .sub {
    background: url(../../pt/media/img/bgOrganicos.jpg) #587420;
}
#subCertificacoes.subMenu .aprovacoes .sub {
    background: url(../../pt/media/img/bgAprovacoes.jpg) #166142;
}
#subCertificacoes.subMenu .qualidade-certificada .sub {
    background: url(../../Media/img/bgQualidadeCertificada.jpg) #5c6117;
}
#subCertificacoes.subMenu .socioAmbientais .sub {
    background: url(../../pt/media/img/bgSocioAmbientais.jpg) #5c6117;
}
.texto-justificado {
    text-align: justify;
}
.texto-justificado p {
    text-align: justify;    
}