@import url("reset.css");
@import url("fontes.css");

body{ font:normal 14px Droid Sans, Tahoma, Geneva, sans-serif; color:#434d5b;; background: url(../img/fundo.jpg) center top;}
#wrap{background: url(../img/fundo2.jpg) center top;}
#wrap2{background: url(../img/fundo3.jpg) center top no-repeat;}
#acaba{ background:url(../img/acaba.jpg) center top; height:13px;}

	a:link, a:active, a:visited{ text-decoration:none; outline:none; color: #7c8993; }
		a:hover{ color:#5698cb; }
		a img{ display:block;}

::selection {background:#87edff;color:#FFF;}
::-webkit-selection {background:#87edff;color:#FFF;}
::-moz-selection {background:#87edff;color:#FFF;}
	
	a.button:link, a.button:active, a.button:visited{ display:block; float:left;}
	.float, .imagem, .texto{ float:left; overflow:hidden; }.imagem img{ display:block;}
	.centro{ width:960px; margin:0 auto; overflow:hidden; }
	
	/* ### */
	
	#topo{ height:241px;}
		#topo h1{ margin:8px 0 0 54px; float:left;}
		#topo .conteudoTopo{ float:right; width:600px; margin-right:22px;}
			#topo .conteudoTopo .slogan{ float:right; text-align:right; font:normal 18px 'DaxRegular'; color:#577ca9; letter-spacing:-1px; margin:30px 0 23px 0; line-height:22px;}
				#topo .conteudoTopo .slogan span{ font-size:22px; display:block;}
			#topo .conteudoTopo #menu{ float:right; margin-top:40px; height:50px; width:590px;}
				#topo .conteudoTopo #menu a:link, #topo .conteudoTopo #menu a:active, #topo .conteudoTopo #menu a:visited{ display:block; float:left; font-size:15px; color:#3a4e66; letter-spacing:-1px; margin-left:25px;}
				#topo .conteudoTopo #menu a:hover{ color:#4e86cd;}
				#topo .conteudoTopo #menu a span{ display:block; font-family:Tahoma, Geneva, sans-serif; font-size:11px; color:#98a8ac; letter-spacing:0;}
			#topo .conteudoTopo .painel{ float:right; margin-top:7px; padding-bottom:4px;}
				#topo .conteudoTopo .painel .downloads:link, #topo .conteudoTopo .painel .downloads:active, #topo .conteudoTopo .painel .downloads:visited{ float:left; display:block; font-size:14px; color:#afbac9; background:url(../img/downloadIcon.jpg) no-repeat; padding:4px 0 0px 29px; margin:5px 27px 0 0;}
				#topo .conteudoTopo .painel .downloads:hover{ background-position:0 -21px; color:#819dc4;}
				#topo .conteudoTopo .painel span{ float:left; display:block; font-size:14px; color:#afbac9; background:url(../img/painel.jpg) no-repeat; padding:7px 0 3px 29px;}
				#topo .conteudoTopo .painel form{ float:left; margin-left:15px;}
					#topo .conteudoTopo .painel form input{ border:solid 1px #ffffff; background:#edefef; padding:0 5px; height:26px; color:#aaadb1; font-size:13px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; width:110px; margin-right:7px;line-height:26px; float:left; }
						#topo .conteudoTopo .painel form input:focus{ -moz-box-shadow:inset 0px 0px 5px #d6d7d7;  -webkit-box-shadow:inset 0px 0px 5px #d6d7d7;  box-shadow:inset 0px 0px 5px #d6d7d7; color:#797f87;}
					#topo .conteudoTopo .painel form .enviar:link, #topo .conteudoTopo .painel form .enviar:visited{ background:#4284c0; border:solid 1px #ffffff; color:#ffffff; font-size:13px; line-height:26px; display:block; float:left; padding:0 8px; letter-spacing:-1px;
					-webkit-border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px;-moz-border-radius-topright: 3px;-moz-border-radius-bottomright: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px; }
					#topo .conteudoTopo .painel form .enviar:hover{-moz-box-shadow: 0px 1px 2px #d6d7d7;  -webkit-box-shadow:0px 1px 2px #d6d7d7;  box-shadow:0px 1px 2px #d6d7d7; background:#4291d9; border-color:#ececec;}
					#topo .conteudoTopo .painel form .enviar:active{-moz-box-shadow:inset 0px 2px 3px #1267b5;  -webkit-box-shadow:inset 0px 2px 3px #1267b5;  box-shadow:inset 0px 2px 3px #1267b5; }
					
					
	#banner{ padding-left:10px; width:941px; height:352px; overflow:visible;}
			
	#chamadas{ background:url(../img/chamadas.jpg) center top no-repeat; margin-top:4px; padding:28px 0 20px 0;}
		#chamadas h2{ color:#516f85; font-size:22px; letter-spacing:-1px; margin-bottom:14px;}

		#chamadas .servicos{ float:left; width:250px; padding-left:24px;}
			#chamadas .servicos .itens{ overflow:hidden;}
				#chamadas .servicos .itens a:link, #chamadas .servicos .itens a:active, #chamadas .servicos .itens a:visited{ display:block; overflow:hidden; background:url(../img/itemServicos.jpg) no-repeat; height:47px; font-size:16px; line-height:47px; margin-bottom:5px; color:#75808d; letter-spacing:-1px;}
				#chamadas .servicos .itens a:hover{ background-position:0 -52px; color:#184680;}
				#chamadas .servicos .itens a img{ float:left;}
				#chamadas .servicos .itens a span{ float:left; display:block; margin-left:32px;}

		#chamadas .link{ text-align:right; font-size:13px; margin:10px 15px 0 0; letter-spacing:-1px;}
				
		#chamadas .galeria{ float:left; width:265px; margin-left:62px;}
			#chamadas .galeria ul{ position:relative;}
				#chamadas .galeria ul{ position:relative;}
					#chamadas .galeria ul li{ position:absolute;}
					#chamadas .galeria #slide .img{ border:solid 4px #eaecf0; padding:1px; background:#fff; width:256px; height:181px; display:block;}
					#chamadas .galeria #slide .txt{ font-size:13px; text-align:center; padding:7px 2px; letter-spacing:-1px; display:block; background:#fbfafa;}
					#chamadas .galeria #slide .txt a:link, #chamadas .galeria #slide .txt a:active, #chamadas .galeria #slide .txt a:visited{color:#434d5b; }
					#chamadas .galeria #slide .txt a:hover{color:#4b71a6; }
					
		#chamadas .quemsomos{ float:left; width:300px; margin-left:55px;}
			#chamadas .quemsomos p{ color:#434d5b; line-height:19px;}
			

	#topoRodape{ overflow:hidden; width:930px; background:url(../img/separadorHorizontal.gif) center bottom repeat-x; padding-bottom:2px; margin:25px auto 0 auto; padding-bottom:15px; }
		#topoRodape img{ float:left; margin-left:15px; }
		#topoRodape #menuRodape{ float:right; padding-top:18px;}
			#topoRodape #menuRodape a:link, #topoRodape #menuRodape a:active, #topoRodape #menuRodape a:visited{ color:#c9d8eb; font-size:13px; display:block; float:left; margin-left:25px;}
			#topoRodape #menuRodape a:hover{ color:#fefeff;}
			
	#rodape .itens{ color:#bfd2e9; float:left; margin:20px 0; }
	#rodape address.itens{ font-family:Tahoma, Geneva, sans-serif; font-size:12px; margin:23px 25px 0 25px; display:block;}
		#rodape .itens span{ color:#6d96c7; font-size:16px; font-family:Droid Sans; display:block; line-height:20px; margin-bottom:5px;}
		#rodape .itens a:link, #rodape .itens a:active, #rodape .itens a:visited{color:#bfd2e9; font:normal 12px Tahoma, Geneva, sans-serif;}
		#rodape .itens a:hover{ color:#77b2fa;}
	#rodape .tel{ margin:20px 0 20px 50px;}
	#rodape .fax{ margin:20px 70px 20px 30px;}
	
	#rodape .assinatura{ overflow:hidden; margin-bottom:20px;}
		#rodape .assinatura a:link, #rodape .assinatura a:active, #rodape .assinatura a:visited{ float:right; display:block; width:148px; height:29px; background:url(../img/htm.jpg) no-repeat; margin-right:18px;}

/*INTERNAS*/

#topoInterno{ padding: 0 10px 0 45px; width: 875px; margin-bottom:15px; }
	#topoInterno h2{ font-size:28px; color:#516f85; letter-spacing:-1px; float:left; }
	#topoInterno a:link, #topoInterno a:active, #topoInterno a:visited{ display:block; float:right; color:#797f87; font-size:13px; background:url(../img/voltar.gif) 0 4px no-repeat; padding-left:15px; margin-top:8px;}
	#topoInterno a:hover{ background-position:0 -10px; color:#7a8fbb; }
	
	#conteudo{ background:url(../img/chamadas.jpg) center top no-repeat; min-height:400px; padding-top:35px; margin-bottom:20px; }
	
	.paginacao{ overflow:hidden; padding-left:60px;}
		.paginacao a.proximo:link, .paginacao a.proximo:active, .paginacao a.proximo:visited{ background:url(../img/proximo.gif) right 5px no-repeat; font-size:14px; color:#5f7794; width:65px; padding-right:10px; letter-spacing:-1px;}
			.paginacao a.proximo:hover{ color:#17365c; background-position:right -19px; }
		.paginacao a.anterior:link, .paginacao a.anterior:active, .paginacao a.anterior:visited{ background:url(../img/anterior.gif) 0 5px no-repeat; font-size:14px; color:#5f7794; width:65px; padding-left:10px; letter-spacing:-1px;}
			.paginacao a.anterior:hover{ color:#17365c; background-position:0 -19px; }
		.paginacao a:link, .paginacao a:active, .paginacao a:visited{ display:block; float:left; background:#4284c0; color:#ffffff; font-size:12px; width:23px; height:22px; line-height:24px; text-align:center; margin-right:5px;}
		.paginacao a:hover, .paginacao a.ativo{ background:#072e52;}

		.paginacao .nav .proxima.inativa, .paginacao .nav .anterior.inativa
			{ zoom: 1; filter: alpha(opacity=50); opacity: 0.5; cursor:text; }

/*INTERNAS*/

/*QUEM SOMOS*/

	.textoQuemSomos{ float:left; width:582px; color:#434d5b; line-height:19px; margin-left:60px; }
	.imgQuemSomos{ float:left; width:255px; margin-left:30px; }
		.imgQuemSomos img{ border:solid 3px #e1ebf0; margin-bottom:24px;}
/*QUEM SOMOS*/

/*POLITICA QUALIDADE*/

.textoPolitica{ overflow:hidden; margin-left:60px;}
	.textoPolitica p{ float:left; width:270px; margin-right:49px; line-height:18px;}
	.textoPolitica .banner{ float:left; width:560px; height:220px;}
		.textoPolitica .banner #bnAnim{ border:solid 3px #e1ebf0; width:544px; height:214px;}

.imgPolitica{ overflow:hidden; margin:30px 0 0 60px;}
	.imgPolitica img{ float:left;  border:solid 3px #e1ebf0; margin-right:25px; }
/*POLITICA QUALIDADE*/

/*servicos*/
.servicos{ padding-left:60px; overflow:hidden;}
	.servicos h3{ color:#4d5560; font-size:23px; padding-left:48px; line-height:35px; width:700px; clear:both; float:left; margin-bottom:10px; }
		.servicos h3.agua{ background:url(../img/icoServicoAgua.jpg) 0 3px no-repeat;}
		.servicos h3.esgoto{ background:url(../img/icoServicoEsgoto.jpg) 0 3px no-repeat;}
		.servicos h3.residuos{ background:url(../img/icoServicoResiduosSolidos.jpg) 0 3px no-repeat;}
		.servicos h3.consultoria{ background:url(../img/icoServicoConsultoria.jpg) 0 3px no-repeat;}
		
	.servicos .item{ width:415px; float:left; padding:10px 0; margin-right:30px;}
		.servicos .item h4{ color:#4284c0; font-size:18px; background:url(../img/setaTitulo.gif) 0 6px no-repeat; padding-left:20px; line-height:18px;}
		.servicos .item p{ color:#717e8d; font-size:13px; padding:10px 0 0 20px;}
	.servicos .divisor{ clear:both; background:url(../img/divisorServicos.jpg) center 10px no-repeat; height:20px; padding:5px 0;}

/*servicos*/

/*clientes*/
.clientes{ padding-left:60px;}
	.clientes .item{ background:url(../img/divisorServicos.jpg) center bottom no-repeat; overflow:hidden; padding-bottom:40px; margin-bottom:10px;}
			.clientes .item .imagem img{ border:solid 3px #eaecf0; }
		.clientes .item .texto{ width:650px; padding-left:25px; }
			.clientes .item .texto h3{ color:#4284c0; font-size:22px; letter-spacing:-1px; padding:8px 0 4px 0; }
				.clientes .item .texto span{ color:#4f5461; font-size:16px; display:block; letter-spacing:0; }
			.clientes .item .texto p{ color:#767d87; font-size:13px; }
		
/*clientes*/

/*noticias*/
.noticias{ padding-left:60px;}
	.noticias .item{ background:url(../img/divisorServicos.jpg) center bottom no-repeat; overflow:hidden; padding-bottom:40px; margin-bottom:10px;}
			.noticias .item .imagem img{ border:solid 3px #eaecf0; }
		.noticias .img .texto{ width:650px; padding-left:25px; }
			.noticias .item .texto h3{ color:#4284c0; font-size:22px; letter-spacing:-1px; padding:4px 0 2px 0; line-height:22px; }
				.noticias .item .texto h3 a:link, .noticias .item .texto h3 a:active, .noticias .item .texto h3 a:visited{ color:#434d5b; }
				.noticias .item .texto h3 a:hover{ color:#4aaeeb;}
				.noticias .item .texto span.data{ color:#4a8ada; font-size:16px; display:block; }
			.noticias .item .texto p{ color:#767d87; font-size:13px; }
			
	.noticias .itemInterno{ background:url(../img/divisorServicos.jpg) center bottom no-repeat; overflow:hidden; padding-bottom:40px; margin-bottom:10px; }
		.noticias .itemInterno span.data{ font-size:19px; color:#4a8ada; letter-spacing:-1px;}
		.noticias .itemInterno h3{ color:#434d5b; font-size:25px; letter-spacing:-1px; margin:5px 0 10px 0;}
		.noticias .itemInterno p{ color:#636a72; font-size:14px; line-height:20px;}
	.noticias .textoInterno{ color:#767d87; font-size:14px; line-height:20px;}	
/*noticias*/

/*contato*/
.contato{ padding-left:60px; overflow:hidden;}
	.contato form{ width:273px; overflow:hidden; float:left; background:url(../img/separadorVertical.jpg) right center no-repeat; padding:10px 72px 10px 0; }
		.contato form ul{ width:100%; overflow:hidden; }
		.contato form ul li{ margin-bottom:10px; overflow:hidden;}
		.contato form label{ display:block; float:left; color:#787b75; line-height:20px; }
		.contato form input, .contato form select, .contato form textarea{ padding:0 5px; border:solid 1px; border-color:#e9e8e8 #cbcbcb #cbcbcb #e9e8e8; line-height:inherit; background:url(../img/fundoInputs.gif) center bottom repeat-x #fff; clear:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color:#95989d; }
		.contato form input{ float:left; width:260px; height:25px; line-height:25px;}
		.contato form select{ float:left; padding:4px; clear:none; margin-left:12px; width:58px; display:block; }
		.contato form textarea{ float:left; width:260px; max-width:260px; min-width:260px; height:145px; max-height:445px; min-height:145px; padding:5px; display:block;}
		.contato form .legendaInput{ margin-left:10px; font-size:13px; color:#adaeac; float:left; line-height:25px; }
		.contato form a:link, .contato form a:visited{ float:right; margin-right:5px;}
		.contato form a:link, .contato form a:visited{ background:#4284c0; border:solid 1px #ffffff; color:#ffffff; font-size:14px; line-height:26px; display:block; float:right; padding:0 8px; letter-spacing:-1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
		.contato form a:hover{-moz-box-shadow: 0px 1px 2px #d6d7d7;  -webkit-box-shadow:0px 1px 2px #d6d7d7;  box-shadow:0px 1px 2px #d6d7d7; background:#4291d9; border-color:#ececec;}
		.contato form a:active{-moz-box-shadow:inset 0px 2px 3px #1267b5;  -webkit-box-shadow:inset 0px 2px 3px #1267b5;  box-shadow:inset 0px 2px 3px #1267b5; }
	
	.contato #mapa{ width:514px; height:467px; border:solid 5px #eaecf0; float:left;}
		
/*contato*/

/*Acesso Restrito*/
.acesso{ padding-left:60px; overflow:hidden; margin-top:35px;}
	.acesso h3{ color:#7c96aa; font-size:22px; padding-left:45px; line-height:30px; letter-spacing:-1px; padding-top:5px; }
	.acesso form li{ overflow:hidden; margin-top:12px; }
	.acesso form label{ display:none;}
		.acesso form input{ border:solid 1px #ffffff; background:#edefef; padding:0 5px; height:26px; color:#aaadb1; font-size:13px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; width:190px; margin-right:7px;line-height:26px; float:left; }
			.acesso form input:focus{ -moz-box-shadow:inset 0px 0px 5px #d6d7d7;  -webkit-box-shadow:inset 0px 0px 5px #d6d7d7;  box-shadow:inset 0px 0px 5px #d6d7d7; color:#797f87;}
		.acesso form .enviar:link, .acesso form .enviar:visited{ background:#4284c0; border:solid 1px #ffffff; color:#ffffff; font-size:13px; line-height:26px; display:block; float:left; padding:0 8px; letter-spacing:-1px;
		-webkit-border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px;-moz-border-radius-topright: 3px;-moz-border-radius-bottomright: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px; }
		.acesso form .enviar:hover{-moz-box-shadow: 0px 1px 2px #d6d7d7;  -webkit-box-shadow:0px 1px 2px #d6d7d7;  box-shadow:0px 1px 2px #d6d7d7; background:#4291d9; border-color:#ececec;}
		.acesso form .enviar:active{-moz-box-shadow:inset 0px 2px 3px #1267b5;  -webkit-box-shadow:inset 0px 2px 3px #1267b5;  box-shadow:inset 0px 2px 3px #1267b5; }	

	.acesso .webmail{ float:left; width:225px; padding:20px 0 35px 0;}
		.acesso .webmail h3{ background:url(../img/icoEmail.jpg) 0 3px no-repeat;}
	.acesso .downloadArquivos{ float:left; width:300px; background:url(../img/divisorAcesso.jpg) 0 center no-repeat;padding: 20px 0 35px 60px;}
		.acesso .downloadArquivos h3{background:url(../img/icoDown.jpg) no-repeat; }
	.acesso .cameras{ float:left; background:url(../img/divisorAcesso.jpg) 0 center no-repeat; padding:20px 0 35px 50px;}
		.acesso .cameras h3{background:url(../img/icoCam.jpg) no-repeat;}

/*Acesso Restrito*/

/*GALERIA*/

.galeria{ margin-left:60px; padding-bottom:40px;}

/* menu sub. */
#subCertificacoes.subMenu .sub {
    display: none;
}
