/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {position:relative;width:544px; height:214px;}
.nivoSlider img {position:absolute;top:0px;left:0px;}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none;}
/* The slices in the Slider */
.nivo-slice {display:block;position:absolute;z-index:50;height:100%;}
/* Caption styles */
.nivo-caption {position:absolute;left:0px;bottom:0px;background:#000;color:#fff;opacity:0.8; /* Overridden by captionOpacity setting */width:100%;z-index:89;}
.nivo-caption p {padding:5px;margin:0;}
.nivo-caption a {display:inline !important;}
.nivo-html-caption {display:none;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {position:absolute;top:220px;z-index:99;cursor:pointer;}
.nivo-prevNav {left:200px;}
.nivo-nextNav {left:240px;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav{ position: absolute;right:1px;bottom: 1px; font-family:Droid Sans;}
.nivo-controlNav a {color:#697986;	font-size:11px; text-align:center; line-height:18px;display:block;background:#f0f6f8;position:relative;margin-right:1px;z-index:99;cursor:pointer;width:17px;height:17px; float:left; border:solid 1px #95caef;}
.nivo-controlNav a.active {background:#285993;color:#e1ecf5;}
#slider {position:relative;background:url(images/loading.gif) no-repeat 50% 50%; }
#slider img {position:absolute;top:0px;left:0px;display:none;}
#slider a{display:block;}

